/************ ICONS ************/
.vertical-arrow-icon,
.edit-icon,
.horizontal-arrow-icon,
.math-icon {
  flex-shrink: 0;
}

.vertical-arrow-icon {
  width: 11.333px;
  height: 8.485px;
  aspect-ratio: 11.33/8.48;
  color: inherit;
}

.edit-icon {
  width: 11.671px;
  height: 11.668px;
}

.horizontal-arrow-icon {
  width: 6.857px;
  height: 12px;
  aspect-ratio: 6.86/12.00;
}

.math-icon {
  width: 14px;
  height: 14px;
}

/************ BUTTONS ************/
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--button-height);
  min-width: var(--button-height);
  padding: var(--button-padding);
  gap: var(--button-gap);
  border-radius: var(--radius-pill);
  border-style: none;
}

.button:has(.button-icon):not(:has(.button-label)) {
  padding: 5px;
  min-width: var(--button-height);
  gap: 0;
}

.button.icon-left {
  flex-direction: row;
}

.button.icon-right {
  flex-direction: row-reverse;
}

.button-label,
.button-icon {
  color: inherit;
  fill: inherit;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.button-label {
  font-family: var(--font-small-bold-family);
  font-size: var(--font-small-bold-size);
  font-style: var(--font-small-bold-style);
  font-weight: var(--font-small-bold-weight);
  line-height: var(--font-small-bold-line-height);
}

/* Button Variants */
.button.grey {
  background: var(--grey);
  color: var(--dark-grey);
  fill: var(--dark-grey);
}

.button.dark-green {
  background: var(--dark-grey);
  color: var(--aqua);
  fill: var(--aqua);
}

.button.teal {
  background: var(--dark-aqua);
  color: var(--cream);
  fill: var(--cream);
}

.button.transparent {
  background: var(--grey);
  mix-blend-mode: luminosity;
  color: var(--dark-grey);
  fill: var(--dark-grey);
}

.button.silver-teal {
  background: var(--grey);
  color: var(--dark-aqua);
  fill: var(--dark-aqua);
}

/************ DROP DOWN ************/
.dropdown-button-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--button-gap);
  padding: var(--dropdown-padding);
  padding-left: 0;
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: max-content;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--dropdown-gap);
  padding: var(--dropdown-padding);
  border-top: solid var(--grey) 1px;
  z-index: 100;
  border-radius: 0 0 16px 16px;
  background: var(--white);
  box-shadow: var(--drop-down-shadow);
}

.high {
  background: var(--green);
  color: var(--dark-green);
  fill: var(--dark-green);
}

.medium {
  background: var(--yellow);
  color: var(--dark-yellow);
  fill: var(--dark-yellow);
}

.low {
  background: var(--red);
  color: var(--dark-red);
  fill: var(--dark-red);
}

.unspecified {
  background: var(--grey);
  color: var(--dark-grey);
  fill: var(--dark-grey);
}

/************ TEXT FIELD ************/
.text-field {
  height: var(--button-height);
  width: var(--text-field-width);
  max-width: var(--text-field-max-width);
  padding: 0 16px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: var(--radius-pill);
  border: none;
  outline: var(--outline-default);
  color: var(--dark-grey);
  background-color: transparent;

  font-family: var(--font-small-bold-family);
  font-size: var(--font-small-bold-size);
  font-style: var(--font-small-bold-style);
  font-weight: var(--font-small-bold-weight);
  line-height: var(--font-small-bold-line-height);
}

.text-field:focus {
  outline: var(--outline-focus);
}

.text-field[type="number"]::-webkit-outer-spin-button,
.text-field[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/************ SEARCH BAR ************/
.searchbar {
  /* Layout */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;

  /* Style */
  border-radius: 100px;
  box-shadow: 0px 3px 2px 0px rgba(79, 98, 89, 0.10);
}

.searchbar div {
  /* Layout */
  display: flex;
  height: 46px;
  padding: 0px 12px;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;

  /* Style */
  border-radius: 100px;
  background: var(--white);
}

.search-field {
    color: var(--shadow-dark-grey, #3E4843);
  /* body */
  font-family: Lexend;
  font-size: var(--font-paragraph-size);
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  background-color: transparent;
  border: none;
}

.search-field:active {
  outline: none;
  border: none;
}