.navbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 102.8px;
  background: var(--white);
  border-top: 2px solid var(--aqua);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.navbar-icon {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--aqua);
}

.active {
  color: var(--burnt-orange);
}
